@media only screen and (max-width: 1150px){
    /***** Reference *****/
    .col.span-1-of-3.one-reference {
        width: 49%;
    }

    .one-reference:nth-child(3) {
        display: none;
    }

}

@media only screen and (max-width: 950px){
    /***** Our pizza *****/
    .pizza-info .span-1-of-2{
        width: 100%;
    }

    /***** About us *****/
    .pizza-example .span-1-of-2 {
        width: 100%;

    }

    .pizza-example .col {
        margin-left: 0;
    }

}

@media only screen and (max-width: 750px){

}

@media only screen and (max-width: 685px){
    /***** Reference *****/
    .col.span-1-of-3.one-reference {
        width: 100%;
            margin-left: 10px;
            margin-top: 20px;
    }

    .foto-name {
        float: right;
                
    }

    .one-reference:nth-child(3) {
        display:block;
    }

    /***** header *****/
    .header-text  {
        width: 98%;
        margin-left: 0px;
       
    }

    .header-text h1 span {
        font-size: 300%
    }

    .header-text h1 {
        font-size: 200%;
    }
}



